* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
}
body {
  background: #04152d;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container .search__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.container .search__box input {
  width: 50%;
  padding: 1rem 1rem;
  border-radius: 30px 0 0 30px;
}
.container .search__box button {
  padding: 1rem 2rem;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  color: white;
  background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}
.container .movie__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.container .movie__content .img {
  border-radius: 12px;
  width: 15rem;
  position: relative;
  cursor: pointer;
}
.container .movie__content .img .genres {
  position: absolute;
  display: flex;
  bottom: 1rem;
  right: 10px;
  align-items: center;
  gap: 6px;
}
.container .movie__content .img .genres p {
  background-color: #da2f68;
  color: white;
  border-radius: 5px;
  padding: 1px 4px;
}
.container .movie__content .content {
  display: flex;
  flex-direction: column;
}
.container .movie__content .content h1 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}
.container .movie__content .content p {
  color: gray;
}
.container .loading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  display: none;
}
.container .loader {
  

  --b: 10px; /* border thickness */
  --n: 10; /* number of dashes*/
  --g: 10deg; /* gap  between dashes*/
  --c: #f89e00; /* the color */

  width: 100px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px; /* get rid of bad outlines */
  background: conic-gradient(#0000, var(--c)) content-box;
  --_m: /* we use +/-1deg between colors to avoid jagged edges */ repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
      #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - var(--b)),
      #000 calc(100% - var(--b))
    );
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

  animation: load 1s infinite steps(var(--n));
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.error .error-text{
  font-size: 1.8rem;
  text-transform: capitalize;
}